@import url("https://fonts.googleapis.com/css?family=Cairo");
@import url("https://fonts.googleapis.com/css?family=Yesteryear");
@import url(bootstrap.min.css);
@import url(icons.css);
#to-top {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  font-size: 2rem;
  padding-right: 3px;
  background-color: rgba(0, 0, 0, 0.05);
  background-color: gainsboro;
  display: none;
  z-index: 5; }

body {
  background-color: #eaeaff;
  font-family: 'Cairo', sans-serif;
  color: #34364E; }

.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }

.logo {
  height: 100px;
  line-height: 100px;
  margin: 0;
  padding: 0 25px;
  font-family: 'Yesteryear', cursive; }
  .logo a, .logo a:hover, .logo a:focus {
    color: #34364E; }

.navbar {
  height: 100px;
  background-color: inherit;
  padding: 0; }

.navbar-nav .nav-item {
  line-height: 50px;
  padding: 0 15px;
  line-height: 100px; }
  .navbar-nav .nav-item .nav-link {
    padding: 0;
    padding: 0 10px;
    line-height: 60px;
    line-height: 100px;
    color: rgba(52, 54, 78, 0.5);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .navbar-nav .nav-item.active .nav-link {
    color: #34364E; }

.navbar-nav .navbar-logo {
  font-size: 42px; }
  .navbar-nav .navbar-logo .nav-link {
    color: rgba(0, 0, 0, 0.7); }

.btn.dropdown-toggle {
  position: relative;
  color: #34364E;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  padding-left: 1px;
  padding-left: 10px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .btn.dropdown-toggle:hover, .btn.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #34364E; }
  .btn.dropdown-toggle::after {
    content: '';
    border: none;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0; }

.show .btn.dropdown-toggle {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .show .btn.dropdown-toggle::after {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.dropdown-menu {
  border-radius: 0;
  line-height: 30px;
  border: none;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  left: auto;
  right: 0; }
  .dropdown-menu .dropdown-item {
    color: rgba(52, 54, 78, 0.5);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .dropdown-menu .dropdown-item:hover {
      background-color: inherit;
      color: #34364E; }
    .dropdown-menu .dropdown-item.active {
      color: #34364E; }

.pos-auto {
  position: static; }

.btn {
  border-radius: 0;
  border: none;
  cursor: pointer;
  padding: 0 15px;
  line-height: 40px;
  height: 40px; }

.btn-dark, .btn-primary, .btn-danger, .btn-info, .btn-success {
  color: #FFFFFF; }

.btn-dark {
  background-color: #282828; }
  .btn-dark:hover {
    background-color: #191919; }

.btn-primary {
  background-color: #b8975a; }
  .btn-primary:hover {
    background-color: #a9884b; }

.form-control:focus {
  border-color: #b8975a; }

.h-200 {
  height: 200px; }

.h-250 {
  height: 250px; }

.h-300 {
  height: 300px; }

.h-350 {
  height: 350px; }

.h-400 {
  height: 400px; }

.h-450 {
  height: 450px; }

.maxw-650, .single-article .article-content-holder {
  max-width: 650px; }

.square-80 {
  width: 80px;
  height: 80px; }

.square-60, .single-article .article-image .user-info .avatar {
  width: 60px;
  height: 60px; }

a, a:hover, a:focus {
  text-decoration: none;
  color: #FFFFFF; }

.cfix:before, .widget:before, .single-article .article-tags:before,
.cfix:after,
.widget:after,
.single-article .article-tags:after {
  content: "";
  display: table; }

.cfix:after, .widget:after, .single-article .article-tags:after {
  clear: both; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(52, 54, 78, 0.3);
  background-color: #02041c;
  background-color: #000000;
  opacity: .5; }

.text-muted, .main-posts .main-post .post-tags a, .articles .article .article-info .article-category a, .small-article .article-category a {
  color: rgba(52, 54, 78, 0.6) !important; }

.main-header .article, .main-header .overlay, .main-header .text, .main-header .text *, .main-header .text::after {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.main-header .article {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 300px;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .main-header .article:first-of-type {
    border-right: 3px solid #eaeaff; }
  .main-header .article:last-of-type {
    border-left: 3px solid #eaeaff; }
  .main-header .article .overlay {
    opacity: 0; }
  .main-header .article .text {
    position: relative;
    position: relative;
    z-index: 2;
    margin-top: 80px;
    margin-left: 20px;
    margin-left: 0;
    border-bottom: 6px solid #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    padding-bottom: 10px;
    color: #FFFFFF;
    -webkit-box-shadow: inset 0 -6px 0 #FFFFFF;
    box-shadow: inset 0 -6px 0 #FFFFFF;
    -webkit-box-shadow: inset 0 0px 0 #FFFFFF;
    box-shadow: inset 0 0px 0 #FFFFFF;
    opacity: 0; }
    .main-header .article .text::after {
      content: "";
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      z-index: 1;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      z-index: 1;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      height: 6px;
      background-color: #FFFFFF; }
  .main-header .article:hover .overlay {
    opacity: .5; }
  .main-header .article:hover .text {
    margin-left: 30px;
    opacity: 1; }
    .main-header .article:hover .text::after {
      width: 100%; }

.main-posts {
  max-width: 650px;
  margin: 70px auto; }
  .main-posts .main-post {
    text-align: center; }
    .main-posts .main-post .post-image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      background-position: 50% 0;
      margin-bottom: 40px; }
    .main-posts .main-post .post-title {
      text-transform: uppercase;
      margin: 20px 0 10px; }
      .main-posts .main-post .post-title a {
        color: #34364E; }
    .main-posts .main-post .post-content {
      color: #34364E;
      opacity: .7; }

.articles {
  max-width: 750px; }
  .articles .article {
    -webkit-perspective: 1000px;
    perspective: 1000px; }
    .articles .article .article-image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%;
      max-width: none !important;
      max-width: calc(100% - 350px) !important;
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      transform-origin: right; }
    .articles .article .article-info {
      max-width: 350px;
      margin: 90px 0 50px;
      padding: 50px;
      background-color: #FFFFFF; }
      .articles .article .article-info .article-title {
        margin: 5px 0 15px; }
        .articles .article .article-info .article-title a {
          color: #34364E;
          letter-spacing: .1em;
          text-transform: uppercase; }
      .articles .article .article-info .article-category {
        position: relative;
        display: inline-block; }
        .articles .article .article-info .article-category::after {
          content: '';
          position: absolute;
          top: auto;
          right: 4px;
          bottom: -7px;
          left: 4px;
          z-index: 1;
          border-bottom: 2px solid rgba(0, 0, 0, 0.15); }
        .articles .article .article-info .article-category a {
          font-size: .9em;
          font-weight: bold;
          text-transform: uppercase; }
      .articles .article .article-info .article-author {
        padding-bottom: 25px;
        line-height: 20px;
        font-style: italic; }
        .articles .article .article-info .article-author .img-circle {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          display: inline-block;
          float: left;
          margin-right: 10px;
          width: 20px;
          height: 20px;
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 50%; }
      .articles .article .article-info .article-content {
        margin-top: 25px; }
      .articles .article .article-info .read-more {
        color: #34364E;
        text-transform: uppercase;
        letter-spacing: .1em; }
    .articles .article:hover .upper-text::after {
      position: absolute;
      top: -100px;
      right: 0px;
      bottom: 0px;
      left: -75px;
      z-index: 1; }
    .articles .article .upper-text {
      position: relative; }
      .articles .article .upper-text::after {
        content: "";
        position: absolute;
        top: -100px;
        right: 0px;
        bottom: 0px;
        left: -75px;
        z-index: 1;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border: 4px solid #b8975a; }
      .articles .article .upper-text > * {
        position: relative;
        z-index: 2; }

.small-article {
  background-color: #FFFFFF;
  margin-bottom: 30px; }
  .small-article .article-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .small-article .article-image::after {
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-image: inherit;
      -webkit-transition: inherit;
      -o-transition: inherit;
      transition: inherit; }
    .small-article .article-image .overlay {
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      z-index: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #eaeaff;
      background-color: whitesmoke;
      -webkit-transform: perspective(100px) translateZ(100px);
      transform: perspective(100px) translateZ(100px);
      -webkit-transform: perspective(100px) translateZ(20px);
      transform: perspective(100px) translateZ(20px);
      opacity: 0;
      color: #34364E;
      z-index: 3;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .small-article .article-image .socials {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 30px; }
    .small-article .article-image .circle-icon {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: 2px solid #34364E;
      border-radius: 50%; }
      .small-article .article-image .circle-icon + .circle-icon {
        margin-left: 10px; }
      .small-article .article-image .circle-icon i {
        color: #34364E;
        position: relative;
        top: -1px; }
    .small-article .article-image:hover::after {
      -webkit-filter: blur(5px);
      filter: blur(5px); }
    .small-article .article-image:hover .overlay {
      -webkit-transform: perspective(500px) translateZ(0);
      transform: perspective(500px) translateZ(0);
      opacity: 1;
      opacity: .92; }
  .small-article .article-category {
    position: relative;
    display: inline-block; }
    .small-article .article-category::after {
      content: '';
      position: absolute;
      top: auto;
      right: 4px;
      bottom: -7px;
      left: 4px;
      z-index: 1;
      border-bottom: 2px solid rgba(0, 0, 0, 0.15); }
    .small-article .article-category a {
      font-size: .9em;
      font-weight: bold;
      text-transform: uppercase; }
  .small-article .article-title {
    margin: 10px 0 0; }
    .small-article .article-title a {
      color: #34364E; }
  .small-article .article-date {
    font-style: italic;
    font-size: .9em; }
    .small-article .article-date a {
      color: rgba(0, 0, 0, 0.5); }
      .small-article .article-date a:hover {
        text-decoration: underline; }
  .small-article .read-more {
    padding: 7px 15px;
    color: #34364E;
    text-transform: uppercase; }
    .small-article .read-more i {
      position: relative;
      top: 2px;
      margin-left: .5rem; }

.right-side {
  max-width: 300px;
  padding: 30px;
  padding-top: 40px;
  margin-bottom: 50px;
  background-color: #FFFFFF; }
  .right-side.is-fixed {
    position: fixed; }
  .right-side .headline {
    position: relative;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1em;
    font-weight: 700;
    text-align: center; }
    .right-side .headline::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      bottom: auto;
      left: 0;
      z-index: 1;
      display: inline-block;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      width: 100%; }
    .right-side .headline > span {
      position: relative;
      z-index: 3;
      padding: 0 12px;
      background-color: #FFFFFF; }

.widget + .widget {
  margin-top: 20px; }

.widget .socials .circle-icon {
  border-color: #b8975a; }
  .widget .socials .circle-icon i {
    color: #b8975a; }

.widget-form {
  position: relative;
  margin: 30px 0; }
  .widget-form input.form-control {
    line-height: 40px;
    padding: 0 40px 0 15px;
    border-radius: 0;
    font-size: .95rem; }
    .widget-form input.form-control:focus + .btn[type='submit']:not(.normal) {
      background-color: #b8975a;
      color: #FFFFFF; }
  .widget-form .btn[type='submit']:not(.normal) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 1;
    border-radius: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: 1px;
    margin-right: 1px;
    padding: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.15);
    border: none; }

.categories .cat-link {
  line-height: 40px;
  margin: 0 15px;
  display: block;
  color: rgba(52, 54, 78, 0.7); }

.subscribe .btn {
  text-transform: uppercase;
  font-size: .9rem; }

.popular-articles {
  margin-bottom: 30px; }
  .popular-articles .headline {
    margin-bottom: 20px; }
  .popular-articles .article .article-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
  .popular-articles .article .article-link {
    color: #34364E; }
  .popular-articles .article time {
    font-style: italic;
    font-size: .9rem; }
  .popular-articles .article + .article {
    margin-top: 15px; }

.instagram {
  padding-bottom: 10px; }
  .instagram .headline {
    margin-bottom: 20px; }
  .instagram .bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    display: block; }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 30px; }
  .socials .circle-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #34364E;
    border-radius: 50%; }
    .socials .circle-icon + .circle-icon {
      margin-left: 10px; }
    .socials .circle-icon i {
      color: #34364E;
      position: relative;
      top: -1px; }

footer.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #34364E;
  background-color: #1e1e1e;
  height: 80px; }
  footer.main-footer .social-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center; }
    footer.main-footer .social-link + .social-link {
      margin-left: 10px; }

.single-article {
  padding: 0; }
  .single-article .article-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 250px; }
    .single-article .article-image .overlay {
      opacity: .4; }
    .single-article .article-image .user-info {
      position: relative;
      z-index: 2;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 650px;
      margin: 0 auto;
      padding: 10px 0; }
      .single-article .article-image .user-info .avatar {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        background-color: #eaeaff; }
      .single-article .article-image .user-info .name {
        margin-left: 10px;
        line-height: 60px;
        text-shadow: 0 2px 1px rgba(52, 54, 78, 0.7); }
      .single-article .article-image .user-info .article-date {
        font-style: italic;
        margin-left: auto;
        line-height: 60px;
        color: #FFFFFF; }
  .single-article .article-category a {
    color: #b8975a;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 10px 0; }
    .single-article .article-category a::after {
      content: '';
      position: absolute;
      top: auto;
      right: 4px;
      bottom: -7px;
      left: 4px;
      z-index: 1;
      border-bottom: 3px solid rgba(184, 151, 90, 0.5); }
  .single-article .article-content {
    line-height: 2.2;
    letter-spacing: .05em;
    margin: 30px 0; }
  .single-article .article-tags {
    color: #b8975a; }
    .single-article .article-tags a {
      color: #34364E;
      color: #b8975a; }
    .single-article .article-tags .tags-icon {
      display: inline-block;
      float: left;
      margin-right: 10px;
      line-height: 26px; }
  .single-article .article-content-holder {
    margin: 50px auto; }

.related-articles {
  max-width: 950px;
  margin: 50px auto; }
  .related-articles .article-image {
    height: 170px; }
    .related-articles .article-image::after {
      display: none; }

.underline {
  position: relative; }
  .underline::after {
    content: '';
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #34364E;
    opacity: .2;
    height: 2px; }

.about-us {
  text-align: center; }
  .about-us .heading {
    text-transform: uppercase;
    font-size: 2.5rem; }
  .about-us .content {
    line-height: 2.2;
    letter-spacing: .08em;
    margin: 50px auto;
    max-width: 550px; }
